# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Build Artifacts
dist/
build/
web-build/
.vercel/

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
